name: build

on:
  push:
    branches:
      - main

jobs:
  build_mysql_9_5:
    uses: bitcompat/base/.github/workflows/build.yaml@main
    with:
      name: main
      cache-scope: mysql-9
      version: 9.5.0 # renovate: datasource=github-tags depName=mysql/mysql-server
      latest: true
    secrets: inherit

  build_mysql_8_4:
    uses: bitcompat/base/.github/workflows/build.yaml@main
    with:
      name: main
      cache-scope: mysql-84
      version: 8.4.7 # renovate: datasource=github-tags depName=mysql/mysql-server
    secrets: inherit

  build_mysql_8_0:
    uses: bitcompat/base/.github/workflows/build.yaml@main
    with:
      name: main
      cache-scope: mysql-80
      version: 8.0.43 # renovate: datasource=github-tags depName=mysql/mysql-server
    secrets: inherit

  build_mysql_5_7:
    uses: bitcompat/base/.github/workflows/build.yaml@main
    with:
      name: main
      cache-scope: mysql-57
      version: 5.7.44 # renovate: datasource=github-tags depName=mysql/mysql-server
    secrets: inherit
